@import "modern-normalize.css";

:root {
    --account-btn: #596D48;
    --light-border: #E5E7EB;
    --invalid-border: red;
    --selected-border: blue;
    --body-background: rgb(14, 14, 14);
    --light-background: rgb(252, 248, 248);

    box-sizing: border-box;
}

body {
    background-color: var(--body-background);
    display: flex;
    justify-content: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 1298px;
    background-color: white;
    overflow: hidden;
}

.img-container {
    height: auto;
    width: 80%;
}

img {
    height: 100%;
    width: 100%;
}

.btn-container {
    height: 35%;
    background-color: var(--light-background);
    padding: 50px 50px 0px 50px;
}

.top-h2-container {
    height: 35%;
    width: auto;
    padding: 150px 140px 50px 40px;
    background-color: var(--light-background);
}

h2:first-of-type {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.35rem;
    font-weight: 600;
}

h2:last-of-type {
    margin-bottom: 20px;
}

.form-container {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

form {
    box-shadow: 0px 7px 7px rgb(227, 227, 227), 0px -2px 2px -2px lightgray;
    padding: 20px 200px 50px 40px;
    height: 30%;
    margin-bottom: 7px;
}

.inner-form-container {
    display: flex;
    flex-wrap: wrap;
}

.form-item {
    flex: 0 0 50%;
    margin-bottom: 20px;
}

label {
    font-size: 0.7rem;
}

input {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding:5px;
    width: 250px;
}

input:focus {
    border: 1px solid var(--selected-border);
    box-shadow: 2px 2px 5px var(--selected-border);
    outline: none;
}