@import "modern-normalize.css";

:root {
    --account-btn: #596D48;
    --light-border: #E5E7EB;
    --invalid-border: red;
    --selected-border: blue;

    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;

}

img {
    height: 100vh;
    width: 40vw;
}

.top-h2-container {
    padding: 200px 150px 60px 40px;
}

h2:first-of-type {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

form {
    box-shadow: 0px 5px 5px lightgray, 0px -2px 2px -2px lightgray;
    padding: 20px 200px 20px 40px;
}

.inner-form-container {
    display: flex;
    flex-wrap: wrap;
}

.form-item {
    flex: 0 0 50%;
    margin-bottom: 20px;
}