@import "modern-normalize.css";

@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
}

:root {
    --account-btn: #596D48;
    --light-border: #E5E7EB;
    --invalid-border: red;
    --valid-border: green;
    --selected-border: blue;
    --selected-shadow: lightblue;
    --body-background: rgb(14, 14, 14);
    --light-background: rgb(252, 248, 248);

    box-sizing: border-box;
}

body {
    background-color: var(--body-background);
    display: flex;
    justify-content: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 1298px;
    background-color: white;
    overflow: hidden;
}

.img-container {
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    width: 80%;
    position: relative;
}

.btn-container {
    height: 1fr;
    background-color: var(--light-background);
    padding: 25px 50px 0px 40px;
}

.top-h2-container {
    height: 1fr;
    width: auto;
    padding: 150px 140px 50px 40px;
    background-color: var(--light-background);
}

h2:first-of-type {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.35rem;
    font-weight: 600;
}

h2:last-of-type {
    margin-bottom: 20px;
}

.form-container {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

form {
    box-shadow: 0px 7px 7px rgb(227, 227, 227), 0px -2px 2px -2px lightgray;
    padding: 20px 200px 50px 40px;
    height: 1fr;
    margin-bottom: 7px;
}

.inner-form-container {
    display: flex;
    flex-wrap: wrap;
}

.form-item {
    flex: 0 0 50%;
    margin-bottom: 15px;
}

label {
    font-size: 0.7rem;
    font-weight: 500;
}

input {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding:6px;
    width: 250px;
}

input:focus {
    border: 1px solid var(--selected-border);
    box-shadow: 2px 2px 5px var(--selected-shadow);
    outline: none;
}

#pwd:invalid, #pwd-confirm:invalid {
    border: 1px solid var(--invalid-border);
    outline: none;
}

button {
    height: 45px;
    width: 215px;
    border-radius: 7px;
    margin-bottom: 30px;
    background-color: var(--account-btn);
    border: none;
    color: white;
    font-weight: 500;
}



.logo-container {
    display: flex;
    height: 140px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    margin-top: 200px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

img {
    height: 120px;
    width: auto;
    
}

.logo-p {
    color: white;
    font-family: "Norse-Bold";
    font-size: 100px;;
}

span {
    text-decoration: underline;
}

.logo-cred {
    font-size: .8rem;
    font-weight: 100;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 30%;
}

a {
    text-decoration: none;
    color: var(--account-btn);
    font-weight: 700;
}